build
install
log
datasets
output
pretrain
.vscode

*.o
*.a
*.so
*.so.*
*.pdb
*.ilk
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.mk
*.dir/
*.sdf
*.sdf.*
*.xacro
*.xacro.*
*.pyc
*.pyo
__pycache__/
*.egg-info/
*.egg
*.whl
*.dist-info/
*.egg-link